.navigation {
	  border-bottom: 1px solid rgb(233, 233, 233);
}
.navigation a {
  padding: 35px 25px 25px 25px;
  display: inline-block;
  margin: 0 0 -1px 0;
	border-bottom: 1px solid transparent;
	vertical-align:middle;
}
.navigation a.logo {
	position:relative;
	min-width:100px;
	margin-top:-40px;
	border-color:transparent!important;
}
.navigation a.logo i {
	  font-size: 42px;
		position:absolute;
}
.navigation a:hover {
	border-color:#d0d0d0;
}
.navigation a.active {
	border-color:rgb(74, 147, 243)!important;
}
.navigation .user {
	display: inline-block;
	float: right;
}
.navigation .user .avatar {
	padding: 28px 25px 15px 25px;
	color: #AC61D0;
}
.navigation .user .avatar span {
	position: relative;
	top: -10px;
	left: -10px;
}
.navigation .user .avatar i {
  font-size: 36px;
}
.navigation .user .avatar img {
	height: 40px;
	border-radius: 100px;
	margin-top: -1px;
	margin-bottom: -5px;
}
.navigation .user ul.dropdown {
	opacity:0;
	visibility:hidden;
  position: absolute;
  right: 40px;
  width: 250px;
  padding: 0;
  list-style: none;
  margin: 0;
  background: #fff;
  top: 85px;
	transition:all 0.2s;
	-webkit-transition:all 0.2s;
	-moz-transition:all 0.2s;
	-o-transition:all 0.2s;
}
.navigation .user:hover ul.dropdown {
	visibility:visible;
	opacity:1;
}
.navigation .user ul.dropdown li {
  
}
.navigation .user ul.dropdown a {
  padding: 10px 10px 25px 10px;
  vertical-align: middle;
  position: relative;
  font-size: 13px;
  line-height: 13px;
  color: #5A616D;
  margin: 0;
  display: block;
  border: 1px solid #d0d0d0;
  margin-top: -1px;
}
.navigation .user ul.dropdown a:hover {
	border-color:#AC61D0;
	z-index:9;
}
.navigation .user ul.dropdown li:last-of-type a {
	
}
.navigation .user ul.dropdown li i {
  font-size: 18px;
  vertical-align: middle;
  margin: 0 10px 0 0;
  height: 100%;
  float: left;
}
.navigation .user ul.dropdown li i.success {
	color:#4cc148;
}
.navigation .user ul.dropdown li i.error {
	color:#e74c3c;
}
.navigation .user ul.dropdown li span {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 11px;
  color: #868383
}
.content {
	padding:70px 0;
}

.blocks > a {
  width: 22%;
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid;
  margin:0 5%;
  padding: 13px;
  font-size: 24px;
}
.blocks i {
  font-weight: bold;
  font-size: 26px;
  vertical-align: top;
}