<h1>Elemin Elements Headline</h1>
<br>
<h3>Buttons & Colors</h3>
<a class="btn">Green</a>
<a class="btn background-yellow">Yellow</a>
<a class="btn background-blue">Blue</a>
<a class="btn background-red">Red</a>
<a class="btn background-purple">Purple</a>
<br>
<br>
<h3>Typography</h3>
<h1>Headline 1</h1>
<h2>Headline 2</h2>
<h3>Headline 3</h3>
<h4>Headline 4</h4>
<h5>Headline 5</h5>
<h6>Headline 6</h6>
<code>
	// This is code
</code>
<blockquote>
	Design is awesome<br>
	And this is blockquote.
	Good luck.
</blockquote>
<br>
<br>
<h3>Lists</h3>
<a href="#elements" class="btn pull-right"><i class="pe-7s-add-user"></i> add user</a>
<table>
	<thead>
		<tr>
			<th>id</th>
			<th>first name</th>
			<th>last name</th>
			<th>email</th>
			<th>status</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>35</td>
			<td>Leonardo</td>
			<td>Smith</td>
			<td>s.leonardo@gmail.com</td>
			<td class="text-green">active</td>
			<td><a class="btn background-blue small" href="#elements"><i class="pe-7s-pen"></i> edit</a>
		</tr>
		<tr>
			<td>57</td>
			<td>Megan</td>
			<td>Doe</td>
			<td>megand@gmail.com</td>
			<td class="text-yellow">waiting for confirmation</td>
			<td><a class="btn background-blue small" href="#elements"><i class="pe-7s-pen"></i> edit</a>
		</tr>
		<tr>
			<td>121</td>
			<td>Chris</td>
			<td>Finch</td>
			<td>chris.finch@gmail.com</td>
			<td class="text-green">active</td>
			<td><a class="btn background-blue small" href="#elements"><i class="pe-7s-pen"></i> edit</a>
		</tr>
	</tbody>
</table>