<h1 class="text-center">Elemin Forms Headline</h1>

<form class="width-one-half pull-center">
	<div class="row">
		<label>First Name: </label>
		<input type="text">
	</div>
	<div class="row">
		<label>Last Name: </label>
		<input type="text">
	</div>
	<div class="row">
		<label>Email* : </label>
		<input required type="email">
	</div>
	<div class="row">
		<label>Telephone: </label>
		<input type="email">
	</div>
	<div class="row">
		<label>Gender: </label>
		<select>
			<option>Please select your gender</option>
			<option>Male</option>
			<option>Female</option>
		</select>
	</div>
	<div class="row">
		<label>Avatar: </label>
		<input type="file">
	</div>
	<input type="submit" class="btn pull-center" value="Save changes">
</form>